# AOC 2021: Day 2 - Dive

## Part 1

It seems like the submarine can take a series of commands like forward 1, down 2, or up 3:

* forward X increases the horizontal position by X units.
* down X increases the depth by X units.
* up X decreases the depth by X units.

After following these instructions, you would have a horizontal position of 15 and a depth of 10. (Multiplying these together produces 150.)

Calculate the horizontal position and depth you would have after following the planned course. What do you get if you multiply your final horizontal position by your final depth?

In [1]:
# dependencies
import pandas as pd
import numpy as np

In [2]:
# import
df = pd.read_csv('data/d21.csv', header=None, names=['entries'])
print(f'dataframe length: {len(df)}')
df.head()

dataframe length: 1000

     entries
0  forward 9
1  forward 7
2     down 7
3     down 3
4  forward 2

In [3]:
# reshape
df[['key', 'value']] = df['entries'].str.split(' ', 1, expand=True)
df = df.drop(columns=['entries'])

In [4]:
# convert to int and figure out unique keys
df['value'] = df['value'].astype(int)
print(f'unique keys {df.key.unique()}')
df.head()

unique keys ['forward' 'down' 'up']

       key  value
0  forward      9
1  forward      7
2     down      7
3     down      3
4  forward      2

In [6]:
# iterate the dataframe and calculate the position

x = 0
y = 0

for index, row in df.iterrows():
    if row[0] == 'forward':
        x = x+row[1]
    if row[0] == 'down':
        y = y+row[1]
    if row[0] == 'up':
        y = y-row[1]
        
print(f'x={x}')
print(f'y={y}')
print(f'x*y={x*y}')

x=1980
y=951
x*y=1882980

## Part 2

In [11]:
# iterate the dataframe and calculate the position with aim

x = 0
y = 0
aim = 0

for index, row in df.iterrows():
    if row[0] == 'forward':
        x = x+row[1]
        y = y+(aim*row[1])
    if row[0] == 'down':
        aim = aim+row[1]
    if row[0] == 'up':
        aim = aim-row[1]
        
print(f'x={x}')
print(f'y={y}')
print(f'x*y={x*y}')

x=1980
y=995572
x*y=1971232560